.elementor-widget-heading .elementor-heading-title {color: #39374d;}
.elementor-widget-image .widget-image-caption {color: #687887;}
.elementor-widget-text-editor {color: #687887;}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {background-color: #39374d;}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {color: #39374d;border-color: #39374d;}
.elementor-widget-button .elementor-button {background-color: #61ce70;}
.elementor-widget-divider {--divider-border-color: #727679;}
.elementor-widget-divider .elementor-divider__text {color: #727679;}
.elementor-widget-divider.elementor-view-stacked .elementor-icon {background-color: #727679;}
.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon {color: #727679;border-color: #727679;}
.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg {fill: #727679;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-title {color: #39374d;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-description {color: #687887;}
.elementor-widget-icon.elementor-view-stacked .elementor-icon {background-color: #39374d;}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon {color: #39374d;border-color: #39374d;}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon svg {fill: #39374d;}
.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {background-color: #39374d;}
.elementor-widget-icon-box.elementor-view-framed .elementor-icon, .elementor-widget-icon-box.elementor-view-default .elementor-icon {fill: #39374d;color: #39374d;border-color: #39374d;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-title {color: #39374d;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description {color: #687887;}
.elementor-widget-star-rating .elementor-star-rating__title {color: #687887;}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {border-color: #687887;}
.elementor-widget-icon-list .elementor-icon-list-icon i {color: #39374d;}
.elementor-widget-icon-list .elementor-icon-list-icon svg {fill: #39374d;}
.elementor-widget-icon-list .elementor-icon-list-text {color: #727679;}
.elementor-widget-counter .elementor-counter-number-wrapper {color: #39374d;}
.elementor-widget-counter .elementor-counter-title {color: #727679;}
.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {background-color: #39374d;}
.elementor-widget-progress .elementor-title {color: #39374d;}
.elementor-widget-testimonial .elementor-testimonial-content {color: #687887;}
.elementor-widget-testimonial .elementor-testimonial-name {color: #39374d;}
.elementor-widget-testimonial .elementor-testimonial-job {color: #727679;}
.elementor-widget-tabs .elementor-tab-title, .elementor-widget-tabs .elementor-tab-title a {color: #39374d;}
.elementor-widget-tabs .elementor-tab-title.elementor-active a {color: #61ce70;}
.elementor-widget-tabs .elementor-tab-content {color: #687887;}
.elementor-widget-accordion .elementor-accordion-icon, .elementor-widget-accordion .elementor-accordion-title {color: #39374d;}
.elementor-widget-accordion .elementor-active .elementor-accordion-icon, .elementor-widget-accordion .elementor-active .elementor-accordion-title {color: #61ce70;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-content {color: #687887;}
.elementor-widget-toggle .elementor-toggle-title, .elementor-widget-toggle .elementor-toggle-icon {color: #39374d;}
.elementor-widget-toggle .elementor-tab-title.elementor-active a, .elementor-widget-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon {color: #61ce70;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-content {color: #687887;}