.elementor-425 .elementor-element.elementor-element-7ba55c8 {padding: 80px 80px 80px 80px;}
.elementor-425 .elementor-element.elementor-element-8eefa4c > .elementor-widget-container {padding: 0px 0px 15px 0px;}
.elementor-425 .elementor-element.elementor-element-ac70f7e > .elementor-widget-container {margin: 0px 0px -20px 0px;padding: 0px 0px 0px 0px;}
body.elementor-page-425 h1.entry-title, .elementor-page-title {display: none;}